{% extends 'eventos/base.html' %}


{% block content %}

    <center>

           
       
    </center>

    <div class="card">
        <div class="card-header">
            <strong>  {{ venue }} </strong>
        </div>
        <div class="card-body">
          <h5 class="card-title"> lugar: {{ event.venue }} </h5>
          <p class="card-text"><ul>
    
            <li>Direccion: {{ venue.address }} </li>
            <li>Numero de contacto: {{ venue.phone }} </li>
            <li>Email: {{ venue.email_address }} </li>
            <br/>
            
            </ul></p>
    
        </div>
      </div>





{% endblock %}

   


